@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('./fonts/MuseoSansCyrl/stylesheet.css');

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    box-sizing: border-box;
}

html {
    font-family: 'Museo Sans Cyrl';
}

.container {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.container-right {
    margin-left: calc( (100vw - 1600px) /2 ) ;
}

@media (max-width: 1599px) {
    .container-right {
        margin-left: 0;
        width: 100%;
    }
}

/* Header */

.header {
    width: 100%;
    min-height: 100vh;
    padding-top: 88px;

    background-color: #153027;
    background-image: url('./../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;
}

.header-nav {
    margin-bottom: 130px;
}

/* Navigation */

.nav-row, .header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-row {
    overflow-x: hidden;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    column-gap: 34px;
}

.nav-list li {
    margin: 0;
    padding: 0;
}

.nav-list a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    transition: color 0.2s ease-in;
}

.nav-list a:hover {
    color: #D4BEA3;
    animation: up-and-down 0.3s ease-in;
}

@keyframes up-and-down {
    0% { transform: translateY(0%);}
    50% { transform: translateY(-30%); }
    100% { transform: translateY(0%); }
}


/* Header title and text */

.header-title {
    position: relative;
    display: inline-block;

    margin-bottom: 8px;

    font-family: 'PT Serif', serif;
    font-size: 280px;
    color: rgba(248, 238, 228, 0.4);
}

.header-title span {
    position: absolute;
    right: -23px;
    bottom: 20px;

    font-size: 98px;
    color: #F8EEE4;
}

.header-text {
    max-width: 550px;
    margin-bottom: 60px;
}

.header-text p {
    font-size: 22px;
    line-height: 26px;
    color: #F8EEE4;
}

.header-text p + p {
    margin-top: 1rem;
}

.button {
    display: inline-block;
    height: 61px;
    padding-left: 86px;
    padding-right: 86px;
    
    background-color: #D4BEA3;
    border-radius: 48px;

    line-height: 61px;
    text-decoration: none;
    color: #fff;
    font-size: 22px;

    transition: background-color 0.1s ease-in;
}

.button:hover {
    background-color: #c8af90;
}

/* Header img */

.header-img {
    display: flex;
    column-gap: 35px;
    align-items: center;
}

.header-img-item {
    width: 283px;
    height: 379px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.2s ease-in;
}

.header-img a:last-child {
    margin-right: -45px;
    transition: margin 0.6s cubic-bezier(0.450, 0.395, 0.115, 1.650);
}

.header-img a:last-child:hover {
    margin-right: 35px;
}

.header-img-item:hover {
    transform: scale(1.1);
}